<h1>My name is Michelle.</h1>
<h2>I am from Chicago, and I'm a junior. </h2>
<h3>Fun fact: I can squat 135 :3 </h3>

<p> I am most excited to learn more about Ruby on Rails and create my own website and learn from Ken Chen! Thanks Ken. </p>
